body {
  cursor: url(asstes/Images/cursor.svg), auto;
}

/* Global Fonts */
.font_poppins {
  font-family: "Poppins", sans-serif;
}

/* Layout Styles */

.main_container {
  height: 100vh;
  /* height: calc(100vh - 80px); */
  border: 0.25px solid #ffffff;
  background: #d9d9d9;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25), 0px 0px 25px rgba(0, 0, 0, 0.25);
}

/* Left bar */

.left_bar {
  height: calc(100vh - 80px);
}

/* For Center Layout */
.center_layout_container {
  /* width: calc(100vw - 220px); */
  width: 100%;
  margin: auto;
  /* height: calc(100vh - 80px); */
  height: 100vh;
  /* padding: 40px 110px; */
  padding: 0px 100px;
  overflow-y: scroll;
}

/* Overriding Full Page scroll section design */
.fp-table {
  justify-content: start !important;
}

.center_layout_container::-webkit-scrollbar {
  display: none;
}

.fp-watermark {
  display: none;
}

/* For Background header video */
/* video {
  object-fit: cover;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
} */

/* For Full page Scrolling */
.section {
  /* background-color: black !important; */
  min-height: 100vh !important;
  /* margin-bottom: 5rem; */
  /* min-height: 100vh !important; */
}

#fp-nav ul li:hover a.active span,
#fp-nav ul li a.active span,
.fp-slidesNav ul li:hover a.active span,
.fp-slidesNav ul li a.active span {
  background-color: #8f00ff;
}
/* 
#fp-nav ul li:hover a.active span,
#fp-nav ul li a.active span,
.fp-slidesNav ul li:hover a.active span,
.fp-slidesNav ul li a.active span ::after {
  content: "1";
  position: absolute;
  top: 40%;
  font-size: 16px;
  color: black;
} */

/* For Full Texts in Header Section  */

.video-text h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 4.5rem;
  text-transform: capitalize;
  color: #ffffff;
  width: 10rem;
}

.video-text a {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.1rem;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
}

/* Overriding antd modal */

.ant-modal,
.ant-modal-content {
  height: 100vh;
  width: 100vw;
  margin: 0;
  top: 0;
}
.ant-modal-body {
  height: calc(100vh - 110px);
}

.ant-modal-content {
  background-color: transparent !important;
  border-radius: 0 !important;
  color: #ffffff !important;
}

.ant-modal-title {
  background-color: white !important;
  border-radius: 0 !important;
  color: #ffffff !important;
}

.ant-modal-close-x {
  display: block;
  font-size: 24px !important;
  font-weight: 800 !important;
  color: rgb(255, 255, 255) !important;
  line-height: 22px;
  text-align: center;
  text-transform: none;
  text-rendering: auto;
}

/* For Service Details Page */

.custom_modal_container {
  height: calc(100vh - 80px);
  width: calc(100vw - 200px);
  margin: 1.2rem auto auto auto;
  scrollbar-width: none !important;
  overflow-x: hidden;
}

/* For Service Ticker Animation */
.ticker_service p {
  color: rgb(0, 0, 0);
  font-weight: 700;
  white-space: nowrap;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  text-shadow: 0.5px 0.5px 2px rgba(255, 255, 255, 0.423);
}

.ticker_service {
  position: absolute;
  width: 120%;
  margin-left: 0;
  margin-right: 0;
  text-align: left;
  transform: translateX(0%);
  animation: ticker_animation 10s linear infinite;
  scrollbar-width: none;
}

/* .wrapper {
  width: 100%;
  overflow: hidden;
} */

/* .marquee {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: marquee 10s linear infinite;
}

.marquee p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 17.5px;
  margin: auto auto 1rem auto;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -50%, 0);
  }
} */

/* For Client Section Clients Ticker Animation  */
.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.marquee span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 1vh; */
  gap: 17.5px;
  padding-top: 100%;
  animation: marquee 14s linear infinite;
}

.marquee2 span {
  animation-delay: 7s;
}

.marquee-reverse {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.marquee-reverse span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 17.5px;
  padding-top: 100%;
  animation: marquee-reverse 14s linear infinite;
}

.marquee-reverse-2 span {
  animation-delay: 7s;
}

.about_details::-webkit-scrollbar {
  width: 10px;
  cursor: pointer;
  position: absolute;
  right: -10px;
}

/* .about_details::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
} */

.about_details::-webkit-scrollbar-thumb {
  background-color: #8f00ff;
  color: rgb(82, 82, 82);
  /* outline: 1px solid slategrey; */
}

@keyframes marquee {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

/* ============================================ */
/* Animations */
@keyframes ticker_animation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* @keyframes ticker_animation {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-slow-spin {
  animation: spin 7s linear infinite;
}

/* Overriding antd modal */
.Navigation {
  display: block;
  width: 100%;
}

.Navigation .ant-modal,
.ant-modal-content {
  height: 100%;
  width: 100%;
  backdrop-filter: blur(5px);
  margin: 0;
  padding: 0;
  top: 0;
}

.Navigation .ant-btn {
  box-shadow: none;
  background: transparent;
  height: 100px;
}

.Navigation .ant-modal-body {
  height: calc(100vh - 110px);
}

.Navigation .ant-modal-content {
  background-color: transparent !important;
  border-radius: 0 !important;
  color: #ffffff !important;
}

.Navigation .ant-modal-title {
  background-color: white !important;
  border-radius: 0 !important;
  color: #ffffff !important;
}

.Navigation .ant-modal-close-x {
  display: block;
  font-size: 24px !important;
  font-weight: 800 !important;
  color: rgb(255, 255, 255) !important;
  line-height: 22px;
  text-align: center;
  text-transform: none;
  text-rendering: auto;
}
.ant-collapse-header-text {
  color: #ffffff;
  z-index: -1;
}

.ant-collapse-expand-icon {
  color: transparent;
  z-index: -1;
  background-image: url("./asstes/Images/faq-icon.png");
  background-repeat: no-repeat;
  margin-top: 4px;
}
