/* Layout Styles */

.main_container {
  height: calc(100vh - 80px);
  filter: drop-shadow(0px 0px 30px rgba(255, 255, 255, 0.25))
    drop-shadow(0px 0px 25px rgba(255, 255, 255, 0.25));
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.services-shadow {
  text-shadow: 7px 7px 5px rgba(168, 85, 247, 0.2);
}

.slick-slider {
  z-index: 1;
}

.Service .slick-active span{
  font-size: 24px;
  color: white;
  opacity: 1;
  transition-duration: 2s;
}

.Service .slick-dots li button:before{
  color: white !important;
}

.Service .slick-dots li.slick-active button:before {
  color: #8F00FF !important;
}

.CaseStudy .slick-slider {
  height: 100%;
}

.CaseStudy .slick-slider .slick-track{
  height: 100%;
}

.CaseStudy .slick-slider img{
  opacity: 10%;
  scale: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
}

.CaseStudy .slick-slider .slick-active img{
  opacity: 100%;
  scale: 150%;
  transition-duration: 1s;
  z-index: 1%;
}
